.heading-primary {
    position: absolute;
    top: 47vh;
    left: 28vh;
    transform: translateY(-50%);
    z-index: 1;

    &__text {
        color: $color-primary-light;

        &--main {
            display: block;
            font-size: 4.5rem;
            font-weight: 900;
            padding-bottom: 1.5rem;
        }
    
        &--sub {
            display: block;
            font-size: 1.5rem;
            font-style: italic;
            margin-bottom: 1.5rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .heading-primary {
        left: 18vh;
    }
}

@media only screen and (max-width: 800px) {
    .heading-primary {
        left: 8vh;
    }
}

@media only screen and (max-width: 650px) {
    .heading-primary {
        left: 4vh;

        &__text--main {
            font-size: 4rem;
        }
    }
}

@media only screen and (max-width: 550px) {
    .heading-primary {
        left: 4vh;

        &__text--main {
            font-size: 3.5rem;
            padding-bottom: 1.2rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    .heading-primary {
        left: 4vh;

        &__text--main {
            font-size: 3rem;
        }

        &__text--sub {
            font-size: 1rem;
            font-style: italic;
        }
    }
}

@media only screen and (max-width: 400px) {
    .heading-primary {
        left: 4vh;

        &__text--main {
            font-size: 2.5rem;
        }
    }
}

@media only screen and (max-width: 350px) {
    .heading-primary {
        &__text--main {
            font-size: 2.2rem;
            padding-bottom: .8rem;
        }
    }
}

@media only screen and (max-width: 180px) {
    .header {
        .heading-primary {
            &__text--main {
                left: 0;
                font-size: 1.8rem;
            }
        }
    }
}

@media only screen and (max-width: 160px) {
    .header {
        .heading-primary {
            &__text--main {
                font-size: 1.5rem;
            }
        }
    }
}